.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(246, 242, 242); */
    z-index: 1;

}
.left{
    display: flex;
    align-items: center;
}
.middle{ 
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 36px;
    max-width: 500px;
    align-items: center;
}
.hamburger-menu{
    height: 25px;
    margin-left: 24px;
    margin-right: 20px;
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 6px;
    border-radius: 54px;
    cursor: pointer;
}
.hamburger-menu:hover{
    background-color: rgb(212, 212, 212);
}
.youtubelogo{
    height: 55px;
}
.voice{
    height: 40px;
    width: 40px;
    border-radius:20px;
    border: none;
    background-color: rgb(246, 246, 246);
}
.voice:hover{
    background-color: rgb(219, 215, 215);
}
.search{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px ;
    
}
.search, 
.voice,
.create-icon,
.youtube-app,
.notification-icons,
.youtube-logo-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .tooltip,
.voice .tooltip,
.create-icon .tooltip,
.youtube-app .tooltip,
.notification-icons .tooltip,
.youtube-logo-container .youtube-tooltip {
position: absolute;
background-color: rgb(107, 106, 106);
color: white;
padding-left: 12px;
padding-top: 8px;
padding-bottom: 8px;
padding-right: 12px;
border-radius: 2px;
font-size: 12px;
bottom:-50px;
opacity: 0;
pointer-events: none;
white-space: nowrap;
}

.search:hover .tooltip,
.voice:hover .tooltip,
.create-icon:hover .tooltip,
.youtube-app:hover .tooltip,
.notification-icons:hover .tooltip,
.youtube-logo-container:hover .youtube-tooltip{
    opacity: 1;

}
.img-search{
    height: 20px;

}
.img-voice{
    height: 18px;

}
.search-bar{
    flex:1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(194, 187, 187);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.5);
    width: 0px;
}
.search-bar::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
.right{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0px;

}
.create{
    height: 24px;
}
.youtube-apps{
height: 24px;
}
.notification-icon{
    height: 24px;
}
.notification-icon-container{
    position: relative;
}
.notification-count{
    position: absolute;
    top: -2px;
    right: 0;
    background-color: rgb(171, 18, 18);
    color: white;
    border-radius: 8px;
    width: 25px;
    text-align: center;
    left: 13px;
}
.youtube-profile{
    height: 32px;
    border-radius: 21px;
}
